@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://d16w27tmajdc15.cloudfront.net/img/new/slide/Raffles-Seychelles-home-page-600K.jpg");
    height: 100vh;
}

.bar {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(209, 221, 253, 0.4);
    width: 80vh;
    padding: 15px;
    margin: 45vh auto auto auto;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    align-items: center;
    text-align: center;
}

.bar form {
    margin: 0 auto;
    width: 100%;
}

input, select {
    display: inline-block;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    height : 50px;
    vertical-align: middle;
}

#recherche {
    width: 100%;
}
#prix {
    width: 90px;
}
#nchambres{
    width: 100px;
}
#inclure{
    width: 25px;
}
#submit{
    width: 90px;
    background-color: #9de3f5;
    border-radius: 5px;
}

.cnt {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}